# Ignore Terraform state files
*.tfstate
*.tfstate.backup
*.tfplan

# Ignore crash logs
crash.log

# Ignore .terraform directory with downloaded provider plugins
.terraform/

# Ignore variable override files (optional)
*.tfvars



# Ignore VS Code workspace settings (optional)
.vscode/
